/* Gallery */
body {
    background: linear-gradient(rgba(4, 30, 4, 0.3), rgba(4,9,30,0.7)), url('./assests/background-image.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Encode Sans', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px 20px 0 20px;
}

h1 {
    margin-top: 50px;
    font-size: 50px;
    font-weight: 530;
    color: #a0bca8;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.heading {
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
    padding: 0;
    color: #fff;

}

.box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px; 
}

.structure {
    display: flex;
    flex-direction: column;
    width: 32%;
}

.structure img {
        width: 100%;
        height: auto;
        border-radius: 5px; 
        margin-bottom: 10px; 
        display: block; 
}
body {
    overflow-x: hidden; 
}

.structure img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

/* Modal styles */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    background-color: rgba(0, 0, 0, 0.9); 
}

.modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 1000px;
    background-color: #fefefe;
    border-radius: 10px;
    margin-top: 50px; 
    max-height: 80%; 
    overflow: hidden; 
}

.modal-left {
    position: relative;
    width: 60%;
    max-height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-right {
    width: 35%;
    padding: 20px;
    max-height: 100%; 
    overflow-y: auto; 
}

.modal img {
    width: auto; 
    height: auto; 
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain; 
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.prev,
.next {
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Options container */
.options-container {
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    width: calc(74% - 2px); 
    margin: 0 auto; 
}

.color-options, .font-options {
    display: inline-block;
}

label {
    margin-right: 10px;
}

/* Gallery - end*/